
* {
  font-family: 'Open Sans', sans-serif;
}

/* remove default body margins and paddings */
body, html {
  padding: 0;
  margin: 0;
}


body > header {
  width: 100%;
  background: white;
  box-shadow: 0 0 4px 1px grey;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  width: 60%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.logo img {
  height: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

nav a::after, nav a::before {
  content: " ";
  display: flex;
  height: 4px;
  background: #a61111;
  width: 0%;
  transition: all 0.6s ease;
  cursor: pointer;
}

nav a:hover::after, nav a:hover::before {
  width: 100%;
}

main {
  height: calc(100vh - 120px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20% 0 20%;
  margin-top: 80px;
  overflow: scroll;
  align-items: center;
}


footer {
  width: 100%;
  background: white;
  box-shadow: 0 0 4px 1px grey;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.search-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-chapter h1 {
  color: #a61111;
  font-size: 72px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.search-chapter input {
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: solid 1px grey;
  width: 35vw;
  padding: 4px 6px;
  margin-bottom: 24px;
}

.search-chapter input:focus {
    box-shadow: 0 0 4px 1px grey;
}

.find-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 10vw;
  color: white;
  border-radius: 20px;
  background: grey;
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh - 120px);
  margin-top: 180px;
  padding-bottom: 24px;
}

.module-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-height: calc(100vh - 120px);
}

.find-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(60% - 12px);
  position: fixed;
  top: 80px;
  left: 20%;
  height: 60px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 4px 1px grey;
  z-index: 500;
  box-sizing: border-box;
  padding: 5px;
}

.result-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px grey;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 12px;
  text-decoration: none;
}

.result-title {
  border-bottom: solid 1px grey;
  color: #003e8a;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 4px;
  margin-bottom: 8px;
  font-weight: bold;
}

.result-text {
  color: #4d5156;
  font-size: 14px;
}

.result-link-text {
  color: black;
  font-size: 10px;
}

.find-horizontal input{
  display: flex;
  box-sizing: border-box;
  margin: 0 5px;
  flex-grow: 1;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: solid 1px grey;
  width: 35vw;
  padding: 4px 6px;
}

.result-logo {
  font-size: 20px;
  color: #a61111;
  font-weight: bold;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
