<div class="sign-in">
  <input placeholder="Имя" type="text" value="" vh-model="name">
  <input placeholder="Фамилия" type="text" value="" vh-model="last_name">
  <input placeholder="Эмеил" type="text" value="" vh-model="email">
  <input placeholder="Возраст" type="text" value="" vh-model="age">
  <input placeholder="Пароль" type="password" value="" vh-model="password">
  <input placeholder="Повторите пароль" type="password" value="" vh-model="ckPassword">
  <div vh-model="check">
  </div>
  <div vh-handler="regButton">
    Регистрация
  </div>
</div>
